In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ssunda59\appdata\local\programs\python\python38-32\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ssunda59\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\ssunda59\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\ssunda59\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\ssunda59\appdata\local\programs\python\python38-32\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'c:\users\ssunda59\appdata\local\programs\python\python38-32\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import json

In [2]:
df1 = pd.read_csv('population_total.csv', index_col=0)
df2 = pd.read_csv('life_expectancy_years.csv', index_col=0)
df3 = pd.read_csv('child_mortality_0_5_year_olds_dying_per_1000_born.csv', index_col=0)
df4 = pd.read_csv('total_gdp_us_inflation_adjusted.csv', index_col=0)
df6 = pd.read_csv('children_per_woman_total_fertility.csv', index_col=0)

In [3]:
df1

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,76600000,76400000,76300000,76100000,76000000,75800000,75600000,75400000,75200000,74900000
Albania,400000,402000,404000,405000,407000,409000,411000,413000,414000,416000,...,1330000,1300000,1270000,1250000,1220000,1190000,1170000,1140000,1110000,1090000
Algeria,2500000,2510000,2520000,2530000,2540000,2550000,2560000,2560000,2570000,2580000,...,70400000,70500000,70500000,70600000,70700000,70700000,70700000,70700000,70700000,70700000
Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,63000,62900,62900,62800,62700,62700,62600,62500,62500,62400
Angola,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,...,168000000,170000000,172000000,175000000,177000000,179000000,182000000,184000000,186000000,188000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,1000000,978000,957000,936000,916000,896000,876000,857000,838000,820000,...,35500000,35400000,35200000,35100000,35000000,34800000,34700000,34500000,34400000,34200000
Vietnam,4000000,4100000,4200000,4310000,4410000,4530000,4640000,4750000,4870000,4990000,...,100000000,100000000,99700000,99400000,99100000,98800000,98400000,98100000,97800000,97400000
Yemen,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,...,54500000,54400000,54300000,54100000,54000000,53800000,53700000,53500000,53400000,53200000
Zambia,747000,758000,770000,782000,794000,806000,818000,831000,843000,856000,...,74400000,75200000,76000000,76800000,77600000,78400000,79200000,80000000,80800000,81500000
Zimbabwe,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,...,30800000,30900000,30900000,30900000,30900000,30900000,31000000,31000000,31000000,31000000

In [4]:
df2

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,28.1,...,76.5,76.6,76.7,76.9,77.0,77.1,77.3,77.4,77.5,77.7
Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.1,88.2,88.3
Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,88.3,88.4,88.5,88.6,88.7,88.8,88.9,89.0,89.1,89.2
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.7,78.9,79.0,79.1,79.3,79.4,79.5,79.7,79.8,79.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,32.2,...,86.2,86.3,86.5,86.6,86.7,86.9,87.0,87.1,87.2,87.3
Vietnam,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,...,84.3,84.4,84.5,84.6,84.7,84.8,84.9,85.0,85.2,85.3
Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,77.3,77.4,77.5,77.7,77.8,77.9,78.0,78.2,78.3,78.4
Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,76.8,77.0,77.1,77.3,77.4,77.6,77.7,77.8,78.0,78.1
Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,74.5,74.6,74.7,74.8,75.0,75.1,75.3,75.4,75.5,75.7

In [5]:
df3

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,469.0,469.0,469.0,469.0,469.0,469.0,470.0,470.0,470.0,470.0,...,12.60,12.40,12.20,12.00,11.80,11.60,11.50,11.30,11.10,11.10
Albania,375.0,375.0,375.0,375.0,375.0,375.0,375.0,375.0,375.0,375.0,...,2.32,2.30,2.27,2.24,2.22,2.19,2.16,2.14,2.11,2.11
Algeria,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,...,4.28,4.20,4.14,4.07,4.00,3.94,3.88,3.82,3.76,3.76
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.86,0.84,0.83,0.81,0.80,0.79,0.78,0.77,0.76,0.76
Angola,486.0,486.0,486.0,486.0,486.0,486.0,486.0,486.0,486.0,486.0,...,17.70,17.50,17.30,17.10,17.00,16.80,16.60,16.40,16.30,16.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,415.0,415.0,415.0,415.0,415.0,415.0,415.0,415.0,415.0,415.0,...,5.21,5.14,5.06,4.99,4.92,4.85,4.78,4.72,4.66,4.66
Vietnam,417.0,417.0,417.0,417.0,417.0,417.0,417.0,417.0,417.0,417.0,...,6.41,6.35,6.28,6.22,6.16,6.10,6.04,5.98,5.92,5.92
Yemen,540.0,540.0,540.0,540.0,540.0,540.0,540.0,540.0,540.0,540.0,...,14.30,14.10,13.80,13.60,13.40,13.20,13.00,12.80,12.60,12.60
Zambia,410.0,410.0,410.0,410.0,410.0,410.0,410.0,410.0,410.0,410.0,...,12.50,12.30,12.20,12.10,11.90,11.80,11.70,11.60,11.40,11.40
Zimbabwe,396.0,396.0,396.0,396.0,396.0,396.0,396.0,396.0,396.0,396.0,...,14.60,14.50,14.40,14.30,14.20,14.10,13.90,13.80,13.70,13.70

In [6]:
df4

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.590000e+10,1.590000e+10,1.800000e+10,1.900000e+10,1.950000e+10,1.980000e+10,2.020000e+10,2.070000e+10,2.110000e+10,2.170000e+10
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.190000e+10,1.220000e+10,1.240000e+10,1.250000e+10,1.280000e+10,1.300000e+10,1.350000e+10,1.400000e+10,1.450000e+10,1.490000e+10
Algeria,2.740000e+10,2.370000e+10,1.900000e+10,2.560000e+10,2.710000e+10,2.870000e+10,2.740000e+10,3.000000e+10,3.320000e+10,3.600000e+10,...,1.610000e+11,1.660000e+11,1.720000e+11,1.760000e+11,1.830000e+11,1.900000e+11,1.960000e+11,1.980000e+11,2.010000e+11,2.030000e+11
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.450000e+09,3.450000e+09,3.280000e+09,3.160000e+09,3.240000e+09,3.290000e+09,3.410000e+09,3.420000e+09,3.480000e+09,3.540000e+09
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.380000e+10,8.670000e+10,9.410000e+10,9.880000e+10,1.040000e+11,1.050000e+11,1.020000e+11,1.020000e+11,9.960000e+10,9.880000e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,1.010000e+11,1.050000e+11,1.140000e+11,1.180000e+11,1.310000e+11,1.370000e+11,1.390000e+11,1.430000e+11,1.530000e+11,1.540000e+11,...,3.930000e+11,4.100000e+11,4.330000e+11,4.380000e+11,4.210000e+11,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.160000e+11,1.230000e+11,1.300000e+11,1.370000e+11,1.450000e+11,1.550000e+11,1.640000e+11,1.750000e+11,1.880000e+11,2.010000e+11
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090000e+10,2.700000e+10,2.760000e+10,2.900000e+10,2.890000e+10,2.080000e+10,1.890000e+10,1.790000e+10,1.800000e+10,NaN
Zambia,4.590000e+09,4.660000e+09,4.540000e+09,4.690000e+09,5.260000e+09,6.140000e+09,5.790000e+09,6.250000e+09,6.330000e+09,6.300000e+09,...,2.030000e+10,2.140000e+10,2.300000e+10,2.420000e+10,2.530000e+10,2.610000e+10,2.700000e+10,2.800000e+10,2.910000e+10,2.960000e+10
Zimbabwe,3.760000e+09,3.990000e+09,4.050000e+09,4.300000e+09,4.260000e+09,4.470000e+09,4.530000e+09,4.910000e+09,5.010000e+09,5.630000e+09,...,1.200000e+10,1.380000e+10,1.600000e+10,1.640000e+10,1.680000e+10,1.700000e+10,1.720000e+10,1.800000e+10,1.890000e+10,1.730000e+10

In [7]:
df5 = pd.read_csv('countries_regions.csv', index_col=1)

In [8]:
df5

             geo           World bank region
name
Afghanistan  afg                  South Asia
Albania      alb       Europe & Central Asia
Algeria      dza  Middle East & North Africa
Andorra      and       Europe & Central Asia
Angola       ago          Sub-Saharan Africa
...          ...                         ...
Vietnam      vnm         East Asia & Pacific
Yemen        yem  Middle East & North Africa
Zambia       zmb          Sub-Saharan Africa
Zimbabwe     zwe          Sub-Saharan Africa
South Sudan  ssd          Sub-Saharan Africa

[197 rows x 2 columns]

In [9]:
df5.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Palestine', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe', 'South Sudan'],
      dtype='object', name='name', length=197)

In [10]:
regions = df5['World bank region'].unique().tolist() 
print('South Asia' in regions)
regions

True

['South Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'North America']

In [11]:
df6

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.78,1.78,1.78,1.79,1.79,1.79,1.79,1.79,1.79,1.79
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,1.86,1.86,1.86,1.86,1.86,1.86,1.86,1.86,1.86,1.86
Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,6.94,...,2.54,2.52,2.50,2.48,2.47,2.45,2.43,2.42,2.40,2.40
Antigua and Barbuda,5.00,5.00,4.99,4.99,4.99,4.98,4.98,4.97,4.97,4.97,...,1.81,1.81,1.81,1.81,1.81,1.81,1.81,1.82,1.82,1.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,5.63,5.63,5.64,5.64,5.64,5.65,5.65,5.65,5.66,5.66,...,1.78,1.78,1.78,1.79,1.79,1.79,1.79,1.79,1.79,1.79
Vietnam,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,...,1.89,1.89,1.89,1.89,1.89,1.89,1.89,1.89,1.89,1.89
Yemen,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,...,1.68,1.68,1.69,1.69,1.69,1.69,1.70,1.70,1.70,1.70
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,2.59,2.57,2.56,2.54,2.53,2.51,2.50,2.48,2.46,2.46
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,1.85,1.85,1.85,1.84,1.84,1.84,1.83,1.83,1.83,1.83

In [12]:
final_data = {}
years = df1.columns

for year in df1.columns:
    final_data[year] = {}
    for region in regions:
        final_data[year][region] = []

In [13]:
for index, row in df1.iterrows():
    d1 = row
    d2 = df2.loc[index] if (index in df2.index) else pd.Series("undefined", index=years)
    d3 = df3.loc[index] if (index in df3.index) else pd.Series("undefined", index=years)
    d4 = df4.loc[index] if (index in df4.index) else pd.Series("undefined", index=years)
    d6 = df6.loc[index] if (index in df6.index) else pd.Series("undefined", index=years)
    for year in years:
        attributes = {}
        attributes['population'] = ("NaN" if pd.isna(d1[year]) else str(d1[year])) if (year in d1) else "undefined"
        attributes['lifeexpectancy'] =  ("NaN" if pd.isna(d2[year]) else str(d2[year])) if (year in d2) else "undefined"
        attributes['mortality'] = ("NaN" if pd.isna(d3[year]) else str(d3[year])) if (year in d3) else "undefined"
        attributes['gdp'] = ("NaN" if pd.isna(d4[year]) else str(d4[year])) if (year in d4) else "undefined"
        attributes['fertility'] = ("NaN" if pd.isna(d6[year]) else str(d6[year])) if (year in d6) else "undefined"
        country_year_data = {}
        country_year_data['country'] = index
        country_year_data['data'] = attributes
        #country_year_data[index] = attributes
        if index in df5.index:
            country_year_data['geo'] = df5.loc[index][0]
            country_year_data['region'] = df5.loc[index][1]
            final_data[year][df5.loc[index][1]].append(country_year_data)
            
    
stats = {}

stats['population'] = str(df1.max().max())
stats['lifeexpectancy'] = str(df2.max().max())
stats['mortality'] = str(df3.max().max())
stats['gdp'] = str(df4.max().max())
stats['fertility'] = str(df6.max().max())

final_data['stats'] = stats

print(final_data['stats'])
print("Done==========")    
#print(final_data)
with open('data.json', 'w') as f:
    json.dump(final_data, f, sort_keys=True, indent=4)

{'population': '1650000000', 'lifeexpectancy': '94.8', 'mortality': '756.0', 'gdp': '18300000000000.0', 'fertility': '8.87'}
Done==========

In [21]:
df1.max().max()

1650000000

330000000